<P><strong>Title</strong></P>
<%= @book.title %>

<p><strong>Body</strong></p>
<%= @book.body %>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
<%= link_to "Back", :back %>

